<h2>Login</h2>
<form class="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" class="boxText" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="boxText" />
  </div>
  
    {{! <div class="column is-2"> }}
    <button type="submit" class="loginBtn">login</button>
    {{! </div>
    <div class="column"> }}
    <a href="/signup" class="ml-5 newUser">Create a new account</a>
    {{! </div> }}
  </div>
</form>

<script src="/js/login.js"></script>